body {
	/* Old browsers */
	background: #141E30;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-46544565deg, #35577D, #141E30);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(90000000deg, #35577D, #141E30);
	margin: 0;
	padding: 0;
  }
  
  h1 {
	color: #FFF;
	font-size: 2em;
	padding-top: 100px;
	width: 100%;
	text-align: center;
  }
  
  h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-weight: 100;
	font-size: 22px;
	line-height: 24px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;
  }
  h3 {
		color: #FFF;
		font-size: 20px;
		padding-top: 100px;
		width: 100%;
		text-align: left;
	}	
  p {
	color: AliceBlue;
	line-height: 1.3em;
	text-align: center;
	width: 100%;
	}
	
	ul {
	text-align: left;
	color: #FFF;
	}
	
	.image1 {
	background-image: url("https://github.com/np303/lc101-html-me-something/blob/master/images/road1.jpg?raw=true");
	width: 500px;
	height: 300px;
	
	}	
	
	.image2 {
	background-image: url("https://github.com/np303/lc101-html-me-something/blob/master/images/road2.jpg?raw=true");
	width: 500px;
	height: 300px;
		}
	
  
  .caption {
	display: block;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	top: 90%;
	position: relative;
  }
  
  .content {
	padding: 40px;
  }
  
    
  
  