body {
	/* Old browsers */
	background: #141E30;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, rgb(26, 146, 116), #141E30);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, rgb(24, 161, 116), rgb(4, 16, 37));
	margin: 0;
	padding: 0;
  }
  
  h1 {
	color: #FFF;
	font-size: 2em;
	padding-top: 100px;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	
  }
  
  h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-weight: 100;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 30px;
	width: 100%;
	text-align: center;
	
  }
  h3 {
		color: #FFF;
		font-size: 20px;
		padding-top: 100px;
		width: 100%;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
	}	
	
	p {
	color: AliceBlue;
	line-height: 1.3em;
	text-align: center;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	}
	
	ul {
	text-align: center;
	color: #FFF;
	list-style-position: inside;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	}
	
	.image1 {
	background-image: url("https://github.com/np303/lc101-html-me-something/blob/master/images/road1.jpg?raw=true");
	width: 100px;
	height: 300px;
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	
	}	
	
	.image2 {
	background-image: url("https://github.com/np303/lc101-html-me-something/blob/master/images/road2.jpg?raw=true");
	width: 500px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
		}
	
  
  .caption {
	display: block;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	top: 90%;
	position: relative;
  }
  
  .content {
	padding: 40px;
  }
	
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;	
	}
    
